.kirmizi{
    color: red;
    
}
.buyukboy{
    font-size: x-large ;
    
}
#img{
    height: 200px;
    width: 200px;
}
.resim{
    height: 200px;
}
#iskelet{
    height: 200px;
    padding: 10%;
}
.ic-iskelet{
    float: left;
    cursor: all-scroll;


}
nav{
    width: 100;
    height: 100;
}
#body{
    background-color: black;
    color: white;
    float: left;
}
#footer{
    height: 200px;
    max-height: 200px;
    max-width: 200px;
}